{% extends "layout.html" %}
{% block content %}  
 <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Do let us know how you feel about THAT.</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                 <div class="form-group">
                   {{ form.message.label(class="form-control-label") }}
                        {{ form.message(class="form-control form-control-lg") }}
                 
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body" style="background-color: white;">
                <h4 class="card-title">
                    <i class="fas fa-phone  fa-flip-horizontal"></i>
                    Contact Us
                </h4>
                <h3 class="mb-6">Feel free to contact us <span class="text-muted h4 font-weight-normal">for any queries<br></span></h3>
                <!canvas id="sales-chart"></canvas>
                <div><br>
                    <img src="{{url_for('static',filename='images/contact.svg')}}" style="width: 440px; height: 420px; margin-left: 50px;">  
                </div>   
            </div>
        </div>
    </div>
</div>
 {%endblock%}