
{% extends "layout.html"%}
{% block content %}

<h3> Lectures found:</h3>
<br>


  <div class="row">
    {% for lecture in lectures2 %}
    <div class="col-md-4">
      <article class="card" style="background: linear-gradient(85deg, #392c70, #6a005b)">
        <a href="{{url_for('lecture',lecture_id=lecture.id)}}" class="card__link">
        
          <!-- Icon -->
          <div class="card__icon">
            <svg viewbox="0 0 1129 994">
              <g fill="none" fill-rule="nonzero" stroke="#999" stroke-width="41">
                <path d="M564.5 212.437L95.67 873.5h937.66L564.5 212.437z"/>
                <path d="M564.5 407.47L163.638 973.5h801.724L564.5 407.47z"/>
                <path d="M564.5 35.409L39.699 774.5H1089.3L564.5 35.409z"/>
              </g>
            </svg>
          </div>
    
          <!-- Media -->
          <div class="card__media">
            <svg viewbox="0 0 1129 994">
              <g fill="none" fill-rule="nonzero" stroke="#F5F5F5" stroke-width="41">
                <path d="M564.5 212.437L95.67 873.5h937.66L564.5 212.437z"/>
                <path d="M564.5 407.47L163.638 973.5h801.724L564.5 407.47z"/>
                <path d="M564.5 35.409L39.699 774.5H1089.3L564.5 35.409z"/>
              </g>
            </svg>
          </div>
    
          <!-- Header -->
          <div class="card__header">
            <h3 class="card__header-title">{{lecture.title}}</h3>
            <p class="card__header-meta">{{lecture.date}}</p>
            <p class="card__header-meta">{{ lecture.starttime }}--{{lecture.endtime}}</p>
            <div class="card__header-icon">
              <svg viewbox="0 0 28 25">
                <path fill="#fff" d="M13.145 2.13l1.94-1.867 12.178 12-12.178 12-1.94-1.867 8.931-8.8H.737V10.93h21.339z"/>
              </svg>
            </div>
          </div>
          
        </a>
      </article>
      <br>
    </div>
    {% endfor %}
  </div>
{% endblock content%}